$blanco: #ffffff;
$letras_negras: rgba(14, 17, 51, 1);
$fuente_principal: "Roboto", sans-serif;
$fuente_secundaria: "Rubik", sans-serif;
$fuente_codigo: "Iosevka Charon", monospace;
$plomo:rgba(80, 80, 86, 1);
$amarillo_patito:rgb(255,248,219);
$cafe_suave:rgb(98,84,77);
$cafe_intenso:rgb(123,51,6);
$naranja_suave: #c2702d; 
$naranja_leve: ffd27f;
